.signout-button {
  @include flex(row, flex-start, center);
  margin: $input-padding-y $input-padding-x;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  &:hover &__icon-container {
    filter: brightness(1.3);
  }

  &__icon-container {
    display: inline-block;
    background-color: $color-dark-peach;
    border-radius: 10px;
    margin-right: $input-padding-x ;

    &>svg {
      fill: $white;
      object-fit: cover;
      padding: 5px;
      @include set-size($width: 40px, $height: 36px);
    }
  }
  &__text{
    @include font($font-size:16px,$line-height:1.2,  $font-weight:500);
  }
}