.empty__table {
  @include font(1.5rem, $line-height-sm, $black);

  @include flex(column, center, center);

  &__image {
    @include set-size(30% , 30%);
  }

  &__title {
    @include font(1.8rem, 1.3em, null, bold);
    text-align: center;
  }

  &__description {
    margin: 10px 0px 20px 0px;
    width: 30%;
    @include font(1.2rem, 23px);
    text-align: center;
    word-spacing: 2px;
  }

  &__button {
    text-decoration: none;
    @include set-size(140px, 35px);
    @include button(#524f4e, $white, center, 25px);
  }

  @include screen-xl() {
    &__image{
      width: 40%;
    }

    &__title{
      @include font(2.0rem, 1.3em, null, bold);
    }

    &__description{
      width: 50%;
    }
    
  }

  @include screen-lg() {
    &__image{
      width: 50%;
    }

    &__description{
      width: 70%;
    }
  }

  @include screen-md() {
    &__image{
      width: 50%;
    }
    &__description{
      width: 70%;
    }
    
  }

  @include screen-sm() {
    &__image{
      width: 90%;
      margin-left: -30px;
    }

    &__title {
      width: 90%;
      @include font(1.5rem, 1.3em, null, bold);
    }

    &__description{
      width: 70%;
      @include font(1.1rem, 20px);
    }
  }
}

.favorites__table {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    display: grid;
    padding:20px 0px 0px 40px;
  
    @include screen-xxl {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      padding:20px 0px 0px 30px;
    }
    @include screen-lg {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      padding:20px 0px 0px 50px;
    }
    @include screen-md {
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      padding:20px 0px 0px 30px;
    }
  }
  