@font-face {
  font-family: 'SoinSansNeue Thin';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Thin.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SoinSansNeue Thin Italic';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-ThinItalic.otf') format('otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SoinSansNeue ExtraLight';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-ExtraLight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SoinSansNeue ExtraLight Italic';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-ExtraLightItalic.otf') format('otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SoinSansNeue Light';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SoinSansNeue Light Italic';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-LightItalic.otf') format('otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SoinSansNeue Normal';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Normal.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SoinSansNeue Normal Italic';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-NormalItalic.otf') format('otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SoinSansNeue Medium';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SoinSansNeue Medium Italic';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-MediumItalic.otf') format('otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SoinSansNeue Bold';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SoinSansNeue Bold Italic';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-BoldItalic.otf') format('otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SoinSansNeue Black';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Black.otf') format('otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SoinSansNeue Black Italic';
  src: url('../assets/fonts/Sans-Neue-Font/Stawix - SoinSansNeue-BlackItalic.otf') format('otf');
  font-weight: 900;
  font-style: italic;
}
