@mixin dots {
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin set-size($width: auto, $height: auto) {
  height: $height;
  width: $width;
}

@mixin font($font-size, $line-height, $color: null, $font-weight: null) {
  @if $color {
    color: $color;
  }
  @if $font-weight {
    font-weight: $font-weight;
  }
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button($color,$background-color,$text:null,$border-radius:null) {
  color: $color;
  background-color: $background-color;
  @if $text {
    text-align: $text;
  }
  @if $border-radius {
    border-radius: $border-radius;
  }
}

// Flex helpers
@mixin flex($direction: row, $content: flex-start, $items: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
}

@mixin flex-row {
  @include flex(row);
}

@mixin flex-column {
  @include flex(column);
}

// Media helpers
@mixin media-breakpoint-up($name) {
  $value: map-get(
          $map: $breakpoints,
          $key: $name,
  );

  @media (min-width: $value) {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $value: map-get(
          $map: $breakpoints,
          $key: $name,
  );

  @media (max-width: $value) {
    @content;
  }
}

@mixin screen-sm() {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

@mixin screen-md() {
  @include media-breakpoint-down(md) {
    @content;
  }
}

@mixin screen-lg() {
  @include media-breakpoint-down(lg) {
    @content;
  }
}

@mixin screen-xl() {
  @include media-breakpoint-down(xl) {
    @content;
  }
}

@mixin screen-xxl() {
  @include media-breakpoint-down(xxl) {
    @content;
  }
}

