.header{
    @include flex($items:center, $content:space-between);
    padding: 1%;
    background-color: $white;
  
    &__user {
        @include flex($items:center, $content:flex-start);
    }
     
    &__photo-container{
        @include set-size(40px, 40px);
        border: solid;
        border-radius: 30px;
        margin-right: 5px;
    }

    &__user-img {
        @include set-size(100%);
    }
    
    &__user-name {
        @include font($font-size: 1.5rem, $line-height: $line-height-sm, $color: $black);
        margin: auto;

        @include screen-sm() {
            display: none;
        }
    }

    &__btnBack {
        @include set-size($width: 25px, $height: 25px);
        @include flex($content: center, $items: center);
        margin: 0 2%;
        border: none;
    
    
        &:hover {
          filter: brightness(1.2);
        }
    
        @include screen-sm() {
          order: -1;
          margin-right: 10px;
        }
      }
}
  