@mixin grid__media($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.places__table {
  grid-template-columns: repeat(4, 400px);
  display: grid;
  grid-gap: 40px;

  @include grid__media(1440px) {
    grid-template-columns: repeat(3, 400px);
  }
  @include grid__media(1024px) {
    grid-template-columns: repeat(2, 400px);
  }
  @include grid__media(768px) {
    grid-template-columns: repeat(2, 320px);
    grid-gap: 20px;
  }
  @include grid__media(425px) {
    grid-template-columns: repeat(1, 320px);
  }
  @include grid__media(320px) {
    grid-template-columns: repeat(1, 280px);
    grid-gap: 20px;
  }
}
