.places__table {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  display: grid;
  padding:20px 0px 0px 40px;

  @include screen-xxl {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding:20px 0px 0px 30px;
  }
  @include screen-lg {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding:20px 0px 0px 50px;
  }
  @include screen-md {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding:20px 0px 0px 30px;
  }
}
