.signin-page {
  @include flex(column, flex-start, center);
  @include set-size(100%, 100%);
  margin: auto 0;
  background-color: $color-theme-grey;
  padding: 20px 40px;
  box-sizing: border-box;

  & .header {
    width: 100%;
  }

  &__image-container {
    width: 80%;
    text-align: center;
    margin-top: 7vh;

    & img {
      width: 30%;

      @include screen-xl() {
        width: 40%;
      }

      @include screen-lg() {
        width: 50%;
      }

      @include screen-md() {
        width: 70%;
      }

      @include screen-sm() {
        width: 90%;
      }
    }
  }

}